@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 10px;
  padding: 20px;
  font-family: $primary-font;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &__list--element {
    padding: 10px;
    text-decoration: none;
    display: inline;
  }
  &__list--button {
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    display: inline;
  }
}

.intro {
  margin-top: 20px;
  padding: 20px;

  display: grid;
  grid-template-areas:
    " surname picture "
    "positions picture";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  h2 {
    font-family: $primary-font;
    grid-area: surname;
    align-self: center;
  }

  h3 {
    font-family: $primary-font;
    grid-area: positions;
    font-size: 36px;
  }

  &__picture {
    width: 80%;
    grid-area: picture;
    justify-self: center;
  }
}

body {
  padding: 10px;
}

.about {
  margin-top: 30px;
  display: grid;
  grid-template-areas:
    "picture title"
    "picture text1"
    "picture text2";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &__picture {
    width: 80%;
    align-self: center;
    justify-self: center;
    grid-area: picture;
  }

  &__header {
    font-family: $primary-font;
    align-self: center;
  }

  &__paragraph1 {
    font-family: $secondary-font;
  }

  &__paragraph2 {
    font-family: $secondary-font;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 20px;

  &__header {
    align-self: center;
  }

  &__paragraph {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro {
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;

    &__picture {
      display: none;
    }

    &__name {
      align-self: center;
    }
  }
}
