@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 20px;
  margin: 5px;
  margin-right: 40px;
  padding: 5px;
  font-family: $primary-font;
  display: flex;
  justify-content: space-between;

  &__username {
    font-family: $secondary-font;
    padding-left: 90px;
    font-weight: bold;
    font-size: 14px;
  }

  &__list--element {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;

    display: inline;
  }

  &__list--button {
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px 12px;
    text-decoration: none;
    display: inline;
  }

  a {
    text-decoration: none;
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 20px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;

  &__container {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    font-family: $primary-font;
    align-self: center;
  }
  &__name {
    padding-left: 20px;
  }
  &__position {
    padding-left: 30px;
    margin-top: 20px;
    font-family: $primary-font;
    font-size: 42px;
  }

  &__picture {
    display: flex;
    align-self: center;
    padding-top: 40px;

    align-items: end;
    justify-self: center;
  }
}

body {
  padding: 10px;
}

.about {
  &__container {
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "picture heading"
      "picture paragraph1"
      "picture paragraph2";
  }

  &__picture1 {
    padding-right: 50px;
    justify-self: center;
    grid-area: picture;

    padding-left: 20px;
    border-radius: 10px;
    height: 600px;
    border-radius: 10px;
  }

  &__paragraph1 {
    grid-area: paragraph1;
    font-family: $secondary-font;
  }
  &__paragraph2 {
    grid-area: paragraph2;
    font-family: $secondary-font;
  }
  &__header {
    grid-area: heading;
    align-self: center;
    justify-self: start;
    font-family: $primary-font;
    font-size: 32px;
  }
}

.skills {
  &__container {
    display: flex;
    flex-direction: column;

    margin: 50px 10px;
    align-items: center;

    &--header {
      margin-bottom: 40px;
      font-family: $primary-font;
      align-self: center;
    }

    &--paragraph {
      width: 80%;
      font-family: $secondary-font;
      align-self: center;
    }
  }

  &__list {
    justify-self: center;
    width: 100%;
    padding: 0 10vh;
    display: grid;
    grid-template-areas:
      "picture1 picture2 picture3 picture4 picture5 picture6 picture7 picture8 picture9"
      "text1 text2 text3 text4 text5 text6 text7 text8 text9";
    font-family: $secondary-font;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;

    &--picture1 {
      grid-area: picture1;
      padding: 5px;
    }
    &--picture2 {
      grid-area: picture2;
      padding: 5px;
    }
    &--picture3 {
      grid-area: picture3;
      padding: 5px;
    }
    &--picture4 {
      grid-area: picture4;
      padding: 5px;
    }
    &--picture5 {
      grid-area: picture5;
      padding: 5px;
    }
    &--picture6 {
      grid-area: picture6;
      padding: 5px;
    }
    &--picture7 {
      grid-area: picture7;
      padding: 5px;
    }
    &--picture8 {
      grid-area: picture8;
      padding: 5px;
    }
    &--picture9 {
      grid-area: picture9;
      padding: 5px;
    }
    /*----------------------------------------------------*/
    &--item1 {
      grid-area: text1;
      align-self: self-start;
    }
    &--item2 {
      grid-area: text2;
      align-self: self-start;
    }
    &--item3 {
      grid-area: text3;
      align-self: self-start;
    }
    &--item4 {
      align-self: self-start;
      grid-area: text4;
    }
    &--item5 {
      align-self: self-start;
      grid-area: text5;
    }
    &--item6 {
      align-self: self-start;
      grid-area: text6;
    }
    &--item7 {
      align-self: self-start;
      grid-area: text7;
    }
    &--item8 {
      align-self: self-start;
      grid-area: text8;
    }
    &--item9 {
      align-self: self-start;
      grid-area: text9;
    }
  }
}

.project {
  display: grid;
  grid-template-areas:
    "title title title"
    "card1 card2 card3"
    " card4 card5 card6 ";

  font-family: $secondary-font;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1fr 1fr;
  justify-items: center;

  &__header1 {
    font-size: 36px;
    display: flex;
    grid-area: title;
    align-self: center;
    justify-content: center;
    margin: 50px;
  }
}
.card {
  padding: 5px;
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;

  &__buttons--element1 {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }

  &__buttons--element2 {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__img {
    margin-bottom: 10px;
    align-self: self-start;

    &--calculator {
      border-radius: 20px;
      height: 300px;
      width: 200px;
    }

    &--morse {
      border-radius: 10px;
      height: 200px;
      width: 350px;
    }

    &--tic {
      height: 300px;
      width: 300px;
    }

    &--punk {
      height: 200px;
      width: 350px;
    }
    &--drink {
      height: 200px;
      width: 400px;
    }
    &--weather {
      height: 300px;
      width: 200px;
    }
    &--hanged {
      height: 200px;
      width: 200px;
    }
    &--ticket {
      height: 200px;
      width: 400px;
    }
  }

  &__title {
    margin: 10px 0px;
    align-self: start;
    justify-self: start;
  }
  &__header1 {
    align-self: start;
    justify-self: start;
  }
  &__header2 {
    align-self: start;
    justify-self: start;
    font-size: 14px;
  }
  &__paragraph {
    padding: 10px 0px;
    align-self: flex-start;
  }

  &__item1 {
    grid-area: card1;
  }

  &__item2 {
    grid-area: card2;
  }

  &__item3 {
    grid-area: card3;
  }

  &__item4 {
    grid-area: card4;
  }
  &__item5 {
    grid-area: card5;
  }
  &__item6 {
    grid-area: card6;
  }

  margin-bottom: 100px;
}

.footer {
  height: 80px;
  margin-top: 20px;

  display: flex;

  background-color: black;
  align-items: center;
  justify-content: space-between;

  &__element1 {
    margin: 0 40px;
    color: $button-colour;
    font-family: $secondary-font;
  }
  &__element2 {
    margin: 0px 40px;
  }
}

.research {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 600px;
    border-radius: 10px;
    margin: 15px 0px;
  }

  &__header {
    font-size: 29px;
    font-family: $primary-font;
    margin: 20px 0px;
    padding: 10px;
  }

  &__paragraph {
    font-family: $secondary-font;
    width: 80%;
  }
}

@media screen and (max-width: 2000px) {
  ////////////////////////////////////////////////
  ///
  .project {
    display: grid;
    justify-content: center;
    grid-template-areas:
      "title title "
      "card1 card2"
      "card3 card4 "
      "card5 card6 ";

    font-family: $secondary-font;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: 200px 1fr 1fr 1fr;
    justify-items: center;

    &__header1 {
      font-size: 36px;
      display: flex;
      grid-area: title;
      align-self: center;
      justify-content: center;
      margin: 50px;
    }
    &--item {
      width: 100px;
    }
  }
  .intro {
    &__name {
      font-size: 20px;
      align-self: start;
    }
    &__position {
      font-size: 30px;
    }
  }

  .skills {
    &__list {
      padding: 0 3vh;
    }
  }

  .about {
    &__picture1 {
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      height: 400px;
    }
    &__paragraph1 {
      font-family: $secondary-font;
      font-size: 18px;
    }
    &__paragraph2 {
      font-family: $secondary-font;
      font-size: 18px;
    }
    &__header {
      font-family: $primary-font;
      font-size: 28px;
    }
  }

  .card__img--calculator {
    margin-bottom: 10px;
    align-self: self-start;
    height: 300px;
    width: 200px;

    border-radius: 20px;
  }
}

@media screen and (max-width: 1650px) {
  .about {
    &__container {
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr;
      grid-template-areas:
        "picture heading"
        "picture paragraph1"
        "picture paragraph2";
    }

    &__picture1 {
      border-radius: 10px;
      padding-right: 50px;
      align-self: center;
      justify-self: center;
      grid-area: picture;
      padding-left: 20px;

      height: 400px;
    }

    &__paragraph1 {
      grid-area: paragraph1;
      font-family: $secondary-font;
    }
    &__paragraph2 {
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
    &__header {
      grid-area: heading;
      align-self: center;
      justify-self: start;
      font-family: $primary-font;
      font-size: 32px;
    }
  }
}
@media screen and (max-width: 825px) {
  ///////////////////////////////////////////
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .about {
    &__container {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr 100px 100px;
      grid-template-areas:
        "about"
        "picture"
        "paragraph1"
        "paragraph2";
    }
    &__picture1 {
      margin: 10px 0;

      justify-self: center;
      grid-area: picture;
      align-self: center;
      padding: 0;
      height: 600px;
      width: 400px;
      border-radius: 10px;
    }

    &__header {
      grid-area: about;
      align-self: end;
      justify-self: center;
      font-size: 32px;
      margin: 20px 0px;
    }
    &__paragraph1 {
      margin: 20px 15px 100px;
      justify-self: center;
      grid-area: paragraph1;
    }
    &__paragraph2 {
      margin: 100px 15px;
      justify-self: center;
      padding-bottom: 100px;
      grid-area: paragraph2;
    }
  }

  .skills {
    margin-top: 150px;
    &__list {
      display: grid;
      width: 100%;
      grid-template-areas:
        "picture1 picture2 picture3 "
        "text1 text2 text3 "
        "picture4 picture5 picture6 "
        "text4 text5 text6 "
        "picture7 picture8 picture9"
        "text7 text8 text9";
      font-family: $secondary-font;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 100px 1fr 100px 1fr 100px;
    }

    &__container--paragraph {
      margin: 15px;
      font-size: 18px;
    }
    &__container--header {
      margin-top: 70px;
    }
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: none;
  }

  body {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .intro {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__picture {
      display: none;
    }

    &__name {
      font-size: 16px;
      padding: 0;
      align-self: flex-start;
    }
    &__position {
      margin: 40px 0px;
      font-size: 70px;
      padding: 0;
      align-self: center;
    }
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 250px;
    width: 100%;
  }

  .research {
    &__image {
      width: 70%;
    }
  }
}
